:root {
  --primary-color: #d5def5;
  --secondary-color: #8594e4;
  --tertiary-color: #430f58;
  --primary-font: "Rubik", sans-serif;
  --secondary-font: "Pacifico", cursive;
}
body {
  background-color: var(--primary-color);
  margin: 0px;
}
img {
  width: 100%;
  box-shadow: 10px 5px #430f58;
  max-height: 220px;
}
p {
  font-size: 20px;
  text-align: center;
}
a {
  color: var(--tertiary-color);
  text-decoration: none;
}
footer {
  margin: 60px 0;
}
footer .email-link {
  font-size: 24px;
  color: black;
}
footer .email-link:hover {
  color: var(--tertiary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--tertiary-color);

  border-radius: 50%;
  font-size: 24px;
  padding: 10px 14px;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
}
@media (max-width: 800px) {
  h1 {
    line-height: 1.5;
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
  }
}
.navbar {
  background-color: var(--primary-color) !important;

  margin-left: 100px;
}

.active {
  color: var(--secondary-color) !important;
}
.hero {
  margin-top: 80px;
  text-align: center;
}

.hero h1 {
  font-family: var(--secondary-font);
  font-size: 96px;
  color: var(--tertiary-color);
}
.hero h2 {
  font-size: 24px;
}
.hero p {
  font-family: var(--primary-font);
  font-size: 36px;
}

.btn-primary {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: 18px;
  padding: 18px 46px;
}
.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}
.btn-launch {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: 18px;
  padding: 18px 46px;
}
.btn-launch:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}
.row {
  margin: 15px;
}
.content {
  margin-top: 50px;
  text-align: center;
}
.content h1 {
  font-family: var(--secondary-font);
  font-size: 64px;
  color: var(--tertiary-color);
  line-height: 70px;
}

.content h2 {
  font-family: var(--primary-font);
  font-size: 24px;
  color: var(--tertiary-color);
  line-height: 27px;
}
.content p {
  font-family: var(--primary-font);
  font-size: 18px;
  color: var(--tertiary-color);
  line-height: 30px;
}

.btn-view-projects {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: 18px;
  padding: 12px 36px;
}
.btn-view-projects:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}
.my-photo {
  width: 75%;

  box-shadow: 10px 5px #430f58;
  margin-left: 20px;
  margin-top: 35px;
}
